$userCardWidth: 40px;
$userCardHeight: 53px;
$flippedHandVerticalOffset: -($userCardHeight);
$flippedHandHorizontalOffset: -($userCardWidth * 2) - 5px;

$tableWidth: 900px;
$tablePadding: 160px;
$playerHeight: 125px;
$playerWidth: 75px;
$marginBetweenPlayers: ($tableWidth - (2 * $tablePadding) - (4 * $playerWidth)) / 3;

$playerCardHeight: 30px;
$playerCardWidth: 20px;
$playerHandVerticalOffset: -($playerCardHeight + 5px);

$currentBetWidth: 70px;
$currentBetOffset: -($currentBetWidth - 15px);

.theme--light.v-application {
    color: #fff;
}

#table {
    height: 560px;
    position: relative;
    width: $tableWidth;
    background-image: url('/images/poker-table.png');
    background-size: 900px 500px;
    background-position: center;
}

.leave-btn {
    position: absolute;
    top: 0;
    left: 20px;
}

.sit-btn {
    position: absolute;
    top: 40px;
    left: 20px;
}

.community-container {
    width: 430px;

    .card {
        height: 95px;
        width: 70px;
    }

    .card + .card {
        margin-left: 20px;
    }
}

.card-back {
    height: $playerCardHeight;
    width: $playerCardWidth;
    background-size: contain;
    display: inline-block;
    background-image: url("/images/card-back.png");
}

.user-hand {
    width: 158px;
    margin-top: -20px;
    margin: -20px 30px;

    .card {
        height: 100px;
        display: inline-block;
        width: 74px;
        &:first-child {
            margin-right: 10px;
        }
    }
}

.flipped-hand {
    width: ($userCardWidth * 2);

    .card {
        height: $userCardHeight;
        width: $userCardWidth;
    }
}

.dealer-chip {
    background-image: url('/images/chips/black-chip.png');
    background-size: cover;
    width: 20px;
    height: 20px;

    /* style the letter D until we get a real dealer chip */
    text-align: center;
    font-size: 14px;
    padding-left: 1px;
    color: #e8e8e8;
}

.player {
    font-weight: bold;
    position: absolute;
    height: $playerHeight;
    width: $playerWidth;

    .acting {
        color: #2eaf2e;
    }

    .hand {
        position: absolute;
        height: $playerCardHeight;

        &.flipped-hand {
            .card {
                display: inline-block;
            }
        }
    }

    .sub {
        position: absolute;
        text-align: center;
        width: 100%;
        background-color: #00000066;
        font-size: 12px;
        padding-top: 3px;
    }

    $outerHeight: 25px;

    .top {
        height: $outerHeight;
        top: 0;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        padding-top: 2px;
    }

    .bottom {
        height: $outerHeight;
        bottom: 0;
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        padding-top: 3px;
    }

    .bottom > div {
        white-space: nowrap;
        padding: 0 5px;
        overflow: hidden;
    }

    .middle {
        width: 100%;
        position: absolute;
        top: $outerHeight;
        height: $playerHeight - (2 * $outerHeight);
    }

    .current-bet {
        position: absolute;
        width: $currentBetWidth;
    }

    .dealer-chip {
        position: absolute;
        left: -30px;
    }
}

@mixin bottom-row {
    bottom: 0;

    .hand {
        top: $playerHandVerticalOffset;
        left: 20%;

        &.flipped-hand {
            top: -60px;
            left: -3px;
        }
    }

    .current-bet {
        top: -30px;
        right: $currentBetOffset;
    }

    .hand.flipped-hand + .current-bet {
        right: -76px;
    }

    .dealer-chip {
        top: 0;
    }
}

@mixin top-row {
    top: 0;

    .hand {
        left: 20%;
        bottom: $playerHandVerticalOffset;

        &.flipped-hand {
            bottom: -38px;
            left: -3px;
        }
    }

    .current-bet {
        bottom: -30px;
        right: $currentBetOffset;
    }

    .hand.flipped-hand + .current-bet {
        right: -76px;
    }

    .dealer-chip {
        bottom: 0;
    }
}

@mixin left-col {
    left: 20px;

    .hand {
        right: -45px;

        &.flipped-hand {
            right: $flippedHandHorizontalOffset;
        }
    }

    .dealer-chip {
        right: -25px;
        left: unset;
    }
}

@mixin right-col {
    right: 20px;

    .hand {
        left: -45px;

        &.flipped-hand {
            left: $flippedHandHorizontalOffset;
        }
    }

    .current-bet {
        text-align: right;
    }

    .dealer-chip {
        left: -25px;
    }
}

$colHandOffset: 5%;
$colBetVerticalOffset: -30px;
$colBetHorizontalOffset: 50px;
$colDealerChipVerticalOffset: 60px;

.player-0 {
    right: $tablePadding;
    @include bottom-row;
}

.player-1 {
    right: $tablePadding + $playerWidth + $marginBetweenPlayers;
    @include bottom-row;
}

.player-2 {
    left: $tablePadding + $playerWidth + $marginBetweenPlayers;
    @include bottom-row;
}

.player-3 {
    left: $tablePadding;
    @include bottom-row;
}

.player-4 {
    @include left-col;
    bottom: 17%;
    .hand {
        top: $colHandOffset;
        &.flipped-hand {
            top: -42px;
        }
    }

    .current-bet {
        top: $colBetVerticalOffset;
        left: $colBetHorizontalOffset;
    }

    .dealer-chip {
        top: $colDealerChipVerticalOffset;
    }
}

.player-5 {
    @include left-col;
    top: 17%;

    .hand {
        bottom: $colHandOffset;
        &.flipped-hand {
            bottom: -20px;
        }
    }

    .current-bet {
        bottom: $colBetVerticalOffset;
        left: $colBetHorizontalOffset;
    }

    .dealer-chip {
        bottom: $colDealerChipVerticalOffset;
    }
}

.player-6 {
    left: $tablePadding;
    @include top-row;
}

.player-7 {
    left: $tablePadding + $playerWidth + $marginBetweenPlayers;
    @include top-row;
}

.player-8 {
    right: $tablePadding + $playerWidth + $marginBetweenPlayers;
    @include top-row;
}

.player-9 {
    right: $tablePadding;
    @include top-row;
}

.player-10 {
    top: 17%;
    @include right-col;

    .hand {
        bottom: $colHandOffset;
        &.flipped-hand {
            bottom: -20px;
        }
    }

    .current-bet {
        bottom: $colBetVerticalOffset;
        right: $colBetHorizontalOffset;
    }

    .dealer-chip {
        bottom: $colDealerChipVerticalOffset;
    }
}

.player-11 {
    bottom: 17%;
    @include right-col;

    .hand {
        top: $colHandOffset;
        &.flipped-hand {
            top: -42px;
        }
    }

    .current-bet {
        top: $colBetVerticalOffset;
        right: $colBetHorizontalOffset;
    }

    .dealer-chip {
        top: $colDealerChipVerticalOffset;
    }
}

.action-btns {
    margin-top: 40px;
    .v-btn + .v-btn {
        margin-left: 40px;
    }
}

/* Animate community cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
}

.flip-card-front {
    background-size: 100%;
    background-image: url('/images/card-back.png');
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* Animate dealing */
$dealOriginX: 445px;
$dealOriginY: 200px;

.deal-card {
    position: absolute;
    left: $dealOriginX;
    top: $dealOriginY;
}

// Positions in relation to the origin
$dealCardXPositions: 235px, 66px, -102px, -270px;
$dealCardYPositions: 200px, -70px;
$dealCardColXPositions: 315px, -345px;
$dealCardColYPositions: 145px, -16px;

@for $i from 0 to 12 {
    .deal-animation-#{$i}-0 {
        -webkit-animation: deal-#{$i}-0 0.5s forwards;
        animation: deal-#{$i}-0 0.5s forwards;
    }

    .deal-animation-#{$i}-1 {
        -webkit-animation: deal-#{$i}-1 0.5s forwards;
        animation: deal-#{$i}-1 0.5s forwards;
    }

    $positionX: null;
    $positionY: null;

    @if $i < 4 { // bottom row
        $positionX: nth($dealCardXPositions, $i + 1);
        $positionY: nth($dealCardYPositions, 1);
    } @else if $i < 6 { // left column
        $positionX: nth($dealCardColXPositions, 2);
        $positionY: nth($dealCardColYPositions, $i - 3);
    } @else if $i > 9 { // right column
        $positionX: nth($dealCardColXPositions, 1);
        $positionY: nth($dealCardColYPositions, 12 - $i);
    } @else { // top row
        $positionX: nth($dealCardXPositions, 9 - $i + 1);
        $positionY: nth($dealCardYPositions, 2);
    }

    @-webkit-keyframes deal-#{$i}-0 {
        100% {
            margin-left: $positionX;
            margin-top: $positionY;
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes deal-#{$i}-0 {
        100% {
            margin-left: $positionX;
            margin-top: $positionY;
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes deal-#{$i}-1 {
        100% {
            margin-left: $positionX + 20px;
            margin-top: $positionY;
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes deal-#{$i}-1 {
        100% {
            margin-left: $positionX + 20px;
            margin-top: $positionY;
            transform: rotate(360deg);
        }
    }
}

/* Animate winners */

// Positions in relation to the origin
$winnerXPositions: 251px, 80px, -86px, -254px;
$winnerYPositions: 152px, -14px;
$winnerColXPositions: 309px, -311px;
$winnerColYPositions: 77px, 60px;

@for $i from 0 to 12 {
    .winner-animation-#{$i} {
        -webkit-animation: winner-#{$i}-0 1.5s forwards;
        animation: winner-#{$i}-0 1.5s forwards;
    }

    $positionX: null;
    $positionY: null;

    @if $i < 4 { // bottom row
        $positionX: nth($winnerXPositions, $i + 1);
        $positionY: nth($winnerYPositions, 1);
    } @else if $i < 6 { // left column
        $positionX: nth($winnerColXPositions, 2);
        $positionY: nth($winnerColYPositions, $i - 3);
    } @else if $i > 9 { // right column
        $positionX: nth($winnerColXPositions, 1);
        $positionY: nth($winnerColYPositions, 12 - $i);
    } @else { // top row
        $positionX: nth($winnerXPositions, 9 - $i + 1);
        $positionY: nth($winnerYPositions, 2);
    }

    @-webkit-keyframes winner-#{$i}-0 {
        100% {
            margin-left: $positionX;
            margin-top: $positionY;
        }
    }

    @keyframes winner-#{$i}-0 {
        100% {
            margin-left: $positionX;
            margin-top: $positionY;
        }
    }
}

.dim {
    opacity: .5;
}

.pot {
    margin-top: $dealOriginY;
    position: absolute;
    font-weight:bold;
    width: 100%;
}

.winner-pot {
    top: $dealOriginY;
    left: $dealOriginX  - 38px;
    position: absolute;
    font-weight:bold;
    width: 86px;
    text-align: center;
}

.winning-hand-type {
    font-weight: bold;
    width: 100%;
    text-align: center;
    top: 332px;
    position: absolute;
}